body{
    text-align: center;
    background-color: #2b2c2e;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
                                                
}

ul#moves{
    list-style-position: inside;
    padding-left: inherit;
}

ol#abilityList{
    list-style-position: inside;
    padding-left: inherit;
}

table, tr, th {
    border: 1px solid;
    background-color: #3b4cca;
    color: #ffde00;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-spacing: 10px 10px;
    
}

h2 {
    font-size: 40px;
    background-color: #cc0000;
    padding: 30px;
    color: #ffde00;
    text-shadow: 5px 5px #3b4cca;
    letter-spacing: 3px;
    font-family: 'Pokemon Solid', sans-serif;
}

h4 {
    font-size: 45px;
    background-color: #3b4cca;
    padding: 30px;
    color: #ffde00;
    text-shadow: 5px 5px #cc0000;
    letter-spacing: 3px;
    font-family: 'Pokemon Solid', sans-serif;
}

#pokemon-button, #favorites-button {
    background: #3b4cca;
    color: white;
    border: 1px solid #eee;
    border-radius: 20px;
    text-shadow: none;
    }

#random-button {
    font-size: 18px;
    background: #3b4cca;
    color: white;
    border: 1px solid #eee;
    border-radius: 20px;
    text-shadow: none;
    margin-bottom: 25px;
}

#reset {
    background: #3b4cca;
    color: white;
    border: 1px solid #eee;
    border-radius: 20px;
    text-shadow: none;
}

#pokemon-form {
    padding-bottom: 10px;
}

#front_sprite, #back_sprite {
    width: 250px;
    height: 250px;
    padding-left: 10px;
    padding-right: 10px;
}

#background-img {
    background-image: url(/whos-that-pokemon.png);
    background-size: 500px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-right: 200px;
}

#random-pokemon-name {
    font-size: 25px;
    padding-bottom: 10px;
}

#random-pokemon-name::first-letter {
    text-transform: uppercase;
}

